/*responsive css start*/
@media (max-width: 1600px) {
    
}

@media (max-width: 1200px) {
        
}

@media (max-width: 992px) {

}

@media all and (min-width: 1600px) {
    .product-image-wrap-big.cart-image  {
        min-width: 320px !important;
    }
    .cart-price-status-wrap {
        min-width: 200px;
    }
}

@media (min-width: 769px) and (max-width: 1280px) {
    .footer-top {
        padding-left: 120px;
    }
}

@media all and (max-width: 768px) {
    
    .header-area {
        position: static;
        left: auto;
        top: auto;
    }
    .logo {
        margin-bottom: 20px;
    }
    .users-control-wrap {
        margin-bottom: 20px;
    }
    .user-cart {
        margin-right: 0;
    }
    .fixed-sidebar {
        top: 187px;
        width: 0;
    }
    .sidebar-small {
        display: none;
    }
    .page-box {
        margin: 0 0;
    }
    main {
        margin-top: 0;
    }

    .hero-tagline {
        font-size: 22px;
    }
    .hero-heading {
        font-size: 35px;
    }
    .hero-text {
        font-size: 16px;
    }
    .box-btn {
        font-size: 19px;
        padding: 6px 32px;
    }
    .card-header.d-flex {
        display: block !important;
        text-align: center;
    }
    .card-header.d-flex h3 {
        margin-bottom: 15px !important;
    }
    .card-header.d-flex .ml-auto {
        margin-left: 0;
    }
    .header-top-right.d-flex {
        display: inline-block !important;
    }
    .main-menu > li {
        margin: 0 14px;
    }
    .responsive-order-3 {
        order: 3;
    }
    .responsive-order-2 {
        order: 2;
    }

    .page-left-side {
        margin: 0 -15px;
    }
    .res-wd50 {
        margin: 0 15px;
        width: calc(50% - 30px);
        float: left;
    }
    .single-product-item {
        width: 100% !important;
    }
    .single-product-big.card {
        margin-bottom: 20px;
    }
    .social li a {
        width: 28px;
        height: 28px;
        line-height: 28px;
        margin-right: 2px;
    }
    .social li:last-child a {
        margin-right: 0;
    }
    .newsletter-area {
        padding: 80px 80px;
    }

    .footer-top {
        padding: 70px 60px;
    }
    /*profile-page start*/
    .profile-banner-content .d-flex {
        display: block !important;
    }
    .profile-info {
        margin-top: 25px;
    }
    .profile-author-image {
        margin-left: auto;
        margin-right: auto;
    }
    .profile-banner-content.card-body {
        padding: 1rem .1rem;
    }
    .pages-link {
        margin-left: 0;
    }
    .pages-link a {
        margin: 10px 15px;
    }
    /*product-details page*/
    .customer-qa-area {
        padding-right: 0;
    }
    .customer-qa-area .d-flex {
        display: block !important;
    }
    .qa-vote {
        display: none ;
    }
    .qa-type-heading {
        min-width: auto;
        text-align: left !important;
        margin-bottom: 10px;
    }    
}

@media (max-width: 767px) {
    .row-less-padding {
        margin-left: -5px !important;
        margin-right: -5px !important;
    }
    .row-less-padding [class*="col-"] {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .header-and-sidebar-wrap {
        display: none;
    }
    .header-responsive {
        display: block;
    }

    .fixed-sidebar {
        display: none;
    }
    
    .res-wd50 .mb-3 {
        margin-bottom: 10px !important;
    }
    .product-description h2 {
        font-size: 19px;
    }
    .single-live-auction-live .product-description-big {
        text-align: left !important;
    }
    .single-live-auction-live h5.mt-3 {
        margin-top: 0 !important;
    }
    .live-auction-timer h5:last-child {
        display: none;
    }
    .products-wrap-big.mb-5 {
        margin-bottom: 5px !important;
    }
    .single-product-big.card {
        background-color: transparent;
        margin-bottom: 10px;
    }
    .single-product-big .card-body {
        padding: 0 5px 15px 5px;
        background-color: #f4f4f4;
    }
    .product-image-wrap-big {
        margin-bottom: 10px;
    }
    .product-description-big h5 {
        font-weight: 400;
        font-size: 14px;
        margin-bottom: 0;
    }
    .product-description-big p {
        display: none;
    }
    .product-description-big .price {
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 10px;
    }
    .product-description-big .d-flex {
        display: block !important;
    }
    .product-description-big .product-rating {
        display: none;
    }
    .product-action-big a:first-child {
        margin-left: 0;
    }















    .responsive-mobile-order-2 {
        order: 2;
    }
    .fixed-sidebar {
        top: 268px;
    }
    .user-acc h6,
    .user-acc > i {
        display: none;
    }
    .hover-box {
        width: 350px;
        right: auto;
    }
    .hover-box:before {
        right: auto;
    }
    .request-wrap.has-hover-box .hover-box {
        left: -60px;
    }
    .request-wrap.has-hover-box .hover-box:before {
        left: 75px;
    }

    .notification-wrap.has-hover-box .hover-box {
        left: -100px;
    }
    .notification-wrap.has-hover-box .hover-box:before {
        left: 115px;
    }

    .messages-wrap.has-hover-box .hover-box {
        left: -140px;
    }
    .messages-wrap.has-hover-box .hover-box:before {
        left: 155px;
    }
    .user.has-hover-box .hover-box {
        right: 0;
    }
    .user.has-hover-box .hover-box:before {
        right: 20px;
    }
    .user.has-hover-box .hover-box {
        right: 0;
    }
    .user.has-hover-box .hover-box:before {
        right: 20px;
    }
    .logo {
        margin-bottom: 0;
    }
    .search-form {
        min-width: 280px;
    }
    .user-wrap.ml-5 {
        margin-left: 0 !important;
    }
    .user-tools a {
        margin-right: 15px;
    }
    .user-tools a.mr-5 {
        margin-right: 22px !important;
    }
    .user.ml-3 {
        margin-left: 0 !important;
    }
    .user h6 {
        margin: 0 0 0 5px;
    }
    .user a i {
        display: none;
    }
    .categories-toggle-wrap {
        text-align: center;
        margin-bottom: 10px;
    }
    .main-menu > li {
        width: 33.3333%;
        float: left;
        margin: 9px 0 9px 0;
    }
    .main-menu > li.has-submenu > i.fa {
        display: none;
    }
    .main-menu li:nth-child(5) {
        width: 36%;
    }
    .main-menu li.has-submenu.more-menu-item {
        text-align: center;
        width: 20%;
    }
    .menu-sidebar-button {
        padding: 0 0;
    }
    .sidebar {
        top: 302px;
        margin-left: -75px;
        height: calc(100% - 302px);
    }
    .sidebar.expand {
        margin-left: 0;
    }
    .sidebar.sidebar-right {
        margin-right: -75px;
    }
    .box {
        margin: 0 0;
    }
    .single-from-blog-post {
        width: 100% !important;
    }
    .from-blog-wrap .blog-title {
        font-size: 14px;
    }
    .single-hero {
        margin: 0 0;
        width: 100%;
        border-radius: 0 0 0 0;
    }
    main {
        margin-top: 93px;
    }
    .heading-4 {
        font-size: 12px;
        padding: 0 17px;
    }

    .hero-heading {
        font-size: 27px;
        margin-bottom: 10px;
    }
    .hero-text {
        font-size: 16px;
    }
    .hero-text br {
        display: none;
    }
    .box-btn {
        font-size: 14px;
        padding: 5px 27px;
    }

    .page-left-side {
        margin: 0 0;
    }
    .res-wd50 {
        margin: 0 0;
        width: 100%;
        float: none;
    }
   
    .newsletter-area {
        padding: 80px 0;
    }
    .newsletter-area .text-center {
        text-align: left !important;
    }
    .newsletter-area h2 {
        font-size: 22px;
        margin-bottom: 15px;
    }
    .newsletter-area p {
        font-size: 14px;
    }
    .newsletter-form {
        text-align: left;
    }
    .newsletter-form button {
        position: static;
        margin-top: 12px;
    }
    .footer-top {
        padding-left: 0;
        padding-right: 0;
        font-size: 14px;
        line-height: 31px;
    }
    .footer-widget.footer-about-us,
    .footer-widget.footer-way-to-shop {
        margin-bottom: 80px;
    }
    .footer-widget a {
        line-height: 27px;
    }
    .footer-bottom {
        text-align: center;
    }
    .copyright-text {
        margin-bottom: 20px;
    }
    .footer-bottom .text-right {
        text-align: center !important;
    }

    .profile-banner-wrap button.btn-danger {
        margin: 10px auto 0 !important;
        display: inherit;
    }
    /*search page*/
    .single-sponsored-item .product-description-big.mt-md-4 {
        margin-top: 20px;
    }
    .single-search-result.single-product-big .product-description-big p {
        display: block;
        font-size: 13px;
    }
    .single-sponsored-item h5.text-dark {
        margin-bottom: 15px;
    }
    .short-description-list {
        margin-top: 20px;
    }
    .short-description-list li,
    .short-description-list li.price-wrap,
    .short-description-list li.ram {
        width: 45%;
        margin-right: 2.5%;
        margin-bottom: 15px;
    }
    .short-description-list li.price-wrap {
        margin: 0 0 0 0;
        display: block;
        width: 100%;
    }
    /*cart-page*/
    .cart-product-description {
        margin: 15px 0;
    }
    .cart-total-wrap {
        margin-top: 15px;
    }
    /*product-details page*/
    .top-reviews-area {
        margin-top: 30px;
    }
    .product-details-content h3 {
        font-size: 14px;
        line-height: 1.7;
        margin-bottom: 10px !important;
    }
    .product-details-content .show-more-menu.big {
        font-size: 15px;
    }
    .product-rating .all-rating {
        margin-top: 5px;
        margin-left: 0;
        font-size: 16px;
    }
    .price-text {
        font-size: 14px;
    }
    .product-details-content-tab {
        font-size: 14px;
    }
    .products-carousel-in-card-wrap .card-header h3 {
        font-size: 16px;
        margin-bottom: 10px !important;
    }
    section header {
        text-align: center;
    }
    section header h3 {
        font-size: 18px;
        font-weight: 400;
    }
    .product-details-description .card-body p {
        font-size: 13px;
    }
    .customer-qa-form.mb-5 {
        margin-bottom: 25px !important;
    }
    .qa-type-heading h4 {
        font-size: 16px;
    }
    .customer-qa-area {
        font-size: 14px;
    }
    .single-question.mb-5 {
        margin-bottom: 25px !important;
    }
    .single-progress-bar.mb-3 {
        margin-bottom: .3rem !important;
    }
    .top-reviews-area h4 {
        font-size: 22px;
    }
    .top-reviews-area h5 {
        font-size: 14px;
    }
    .reviw-author-speech {
        font-size: 14px;
    }
    /*login page*/
    .login-page-wrap {
        height: 100%;
        padding: 15px 0;
    }
    .login-registration-area .d-flex {
        display: block !important;
    }
    .signup-with-social-wrap {
        min-width: 100%;
    }
}
/*# sourceMappingURL=responsive.css.map */
/*responsive css end*/